{% extends 'base.html.twig' %}

{% block title %}Межкультурные ситуации{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 0 auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    textarea {
        width: 630px;
        height: 300px;
        font-size: 13px;
        border: 1px solid #cecece;
        background: #F6F6f6;
        border-radius: 8px;
        margin-left: 6em;
    }
    button {
        width: 630px;
        height: 50px;
        font-size: 18px;
        background: lightskyblue;
        border-radius: 8px;
        text-align: center;
        margin-left: 4.4em;
    }

    #result {
        margin-top: 20px;
        font-size: 22px;
        color:navy;
        text-align: center;
    }
    #key {
        font-size: 22px;
        color:red;
        height: 1px;
        text-align: center;
    }
    p {
        font-size: 22px;
        text-align: center;
    }
    .error {
        font-size: 22px;
        color:red;
        margin-left: 12em;
        text-align: center;
    }
    .place { height: 10px;}
    h1 {
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <h1>Введите описание вашей ситуации</h1>
    <form method="POST" action="{{ url('my_search') }}">
        <div><textarea name="a" type="text"></textarea></div>
        <div class="place"> </div>
        <div><button>Получить обоснование</button></div>
    </form>

</div>
    <div id="result">
    {% if situations is defined %}
        {%  for s in situations %}

            {{ s.description }}

        {%endfor%}
    {% endif %}
    </div>
    <div>
    {% if keys is defined %}
        <p id="key">
            Ключи для определения ситуации:
        </p>
        <p>
        {%  for k in keys %}
            <br> {{ k }}
        {%endfor%}
        </p>
    {% endif %}
        {% if error_search is defined %}
        <div class="error">
            Ситуация не распознана! Возможно данные введены некорректно, попробуйте снова.
        </div>
        {% endif %}
        {% if emty_text is defined %}
            <div class="error">
                Текстовое поле для описания ситуации пусто. Введите описание и повторите попытку.
            </div>
        {% endif %}
    </div>
{% endblock %}
